In [1]:
from mesa.batchrunner import BatchRunnerMP
import matplotlib.pyplot as plt
import pandas, pickle
from nice_bison.model import NiceBison

In [ ]:
file_name = 'first_experiment'

fixed_params = {'initial_bison': 10, 'verbose': False}
variable_params = {'number_grass_growth': range(1, 11)}

data_collector = {'collector': lambda m: m.datacollector}

batch = BatchRunnerMP(NiceBison,
                      4,
                      variable_parameters=variable_params,
                      fixed_parameters=fixed_params,
                      iterations=10,
                      max_steps=500,
                      model_reporters=data_collector)
batch.run_all()

data = batch.get_model_vars_dataframe()
results_list = [collector.get_model_vars_dataframe() for collector in data['collector']]
results_df = pandas.concat(a, axis=0, keys=range(0, len(results_list)))
del data['collector']

data.to_pickle(f'data/{file_name}_parameters.pickle')
results_df.to_pickle(f'data/{file_name}_results.pickle')

54it [00:23,  1.79it/s]

In [61]:
results_df.loc[0,0]

Bison             10.0
Grass              4.0
Altruism (avg)     0.5
Altruism (std)     0.0
Name: (0, 0), dtype: float64

In [62]:
data

    number_grass_growth  Run  initial_bison  verbose
0                     1    0             10    False
1                     1    1             10    False
2                     1    2             10    False
3                     1    3             10    False
4                     1    4             10    False
..                  ...  ...            ...      ...
85                    9   85             10    False
86                    9   86             10    False
87                    9   87             10    False
88                    9   88             10    False
89                    9   89             10    False

[90 rows x 4 columns]

In [57]:
results_df

        Bison  Grass  Altruism (avg)  Altruism (std)
0  0       10      4        0.500000        0.000000
   1       10      2        0.500000        0.000000
   2       11      2        0.488243        0.037179
   3       15      2        0.485602        0.037526
   4       20      1        0.483177        0.041287
...       ...    ...             ...             ...
39 96      64      0        0.554273        0.196498
   97      65      0        0.567884        0.199400
   98      62      0        0.616339        0.216572
   99      55      0        0.656309        0.208787
   100     58      0        0.654880        0.209415

[4040 rows x 4 columns]